body,html{
    width: 100%;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
}
.text-msg{
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.short-text{
    display: none;
}

@media (max-width: 992px) and (min-width : 768px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}

@media (max-width : 768px) {
    .img-vis {display: none }
}

.jd-sel{
    width: 100%;
    display: block;

}
.jd-sel.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
}
.jd-sel.btn:focus{
    outline: 0 !important;
    box-shadow: none !important;
}
.jd-sel.btn:hover{
    background-color: #f1f1f1;
}
.jd-sel.active {
    background-color: #f7f7f7;
}
.bg-start {
    background-image: url("../images/bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-item{
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.img-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
}
.hover-white {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.hover-gray {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.hover-gray:hover {
    top: -10px;
    box-shadow: 10px 10px 10px #f7f7f7;
}
.hover-white:hover{
    top: -10px;
    box-shadow: 10px 10px 10px #d7d7d7;
}