
.card-container {
    padding: 20px;
}

.mentor-card-outer {
    border-radius: 15px;
    height: 350px;
    padding: 50px;
}

.mentor-card-container {
    padding: 20px;
}

.mentor-card {
    border-width: 1px;
    height: 140px;
    padding: 30px;
}

.mentor-img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.mentor-name {
    font-size: 16px;
    margin-left: 15px;
    font-weight: bold;
}

.mentor-college {
    font-size: 12px;
    margin-left: 15px;
}

.mentor-job {
    font-size: 14px;
    margin-left: 15px;
}


/* scrollbar */

  
::-webkit-scrollbar {
    width: 6px; 
  }
  
  ::-webkit-scrollbar-track {
    background: linear-gradient(#caaee0, #f8c5d1);
    border-radius: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5a59aa;
    border-radius: 12px;
    border: 0.5px solid rgba(119, 119, 119, 0.562)
    }