
.card-container {
    padding: 20px;
}

.mentor-card-outer {
    border-radius: 15px;
    height: 350px;
    padding: 50px;
}

.mentor-card-container {
    padding: 20px;
}

.mentor-card {
    border-width: 1px;
    height: 140px;
    padding: 30px;
}

.mentor-img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.mentor-name {
    font-size: 16px;
    margin-left: 15px;
    font-weight: bold;
}

.mentor-college {
    font-size: 12px;
    margin-left: 15px;
}

.mentor-job {
    font-size: 14px;
    margin-left: 15px;
}

.btn_aboutUs {
    display: inline-block;
    position: relative;
    min-width: 200px;
    height: 50px;
    background-image: linear-gradient(315deg, #ff8dde 0%, #a88beb 74%);
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    letter-spacing: 2px;
    border: 3.5px solid #7f38c6;
    padding-left: 50px;
    padding-bottom: 37px;
    transition: 0.5s;
    font-size: 20px;
    padding-top: 10px;
    margin-top: 30px;
}

.btn_aboutUs:hover{
  padding-left: 20px;
  padding-right: 40px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.btn_aboutUs span{
    position: absolute;
    left: 5px;
    width: 39px;
    height: 40px;
    background: var(--primary-gradient-purple);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    margin-left: -3px;
    margin-top: -6px;
    align-items: center;
    color: var(--primary-gradient-purple);
    font-size: 1.5sem;
}

.btn_aboutUs ion-icon{
    padding: 10px;
    color: white;
}

.btn_aboutUs:hover span{
    left: calc(100% - 40px);
    padding-left: -5px;
    /* padding-top:5px; */
    font-weight: 600;
}
